@font-face {
  font-family: "DINCondensed-Bold";
  src: url("./fonts/DINCondensed-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(231, 228, 228);
}

header {
  height: 100px;
  width: 100%;
  background-color: #ffb1148c;
  border-bottom: 1px solid #b8b8b8;
  box-shadow: 0px 0px 5px gray;
  color: white;
  line-height: 100px;
}

h1 {
  font-family: "DINCondensed-Bold";
  text-shadow: 2px 2px 5px gray;
  text-align: center;
  font-size: 47px;
  text-transform: uppercase;
  
}

h2 {
  text-align: center;
  margin-right: 30px;
  text-transform: uppercase;
  font-family: "DINCondensed-Bold";
  text-shadow: 1px 1px 2px rgb(182, 177, 177);
  font-size: 35px;
  color: rgba(0, 0, 0, 0.822);
}

section {
  height: 100%;
  padding: 20px;
  float: left;
  margin-left: 2.7%;
}

.producto {
  display: flex;
  font-family: "DINCondensed-Bold";
  float: left;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(141, 139, 139, 0.397);
  margin: 15px;
  width: 587px;
  transition: all 250ms;
}

.producto:hover {
  box-shadow: 0px 0px 7px rgba(78, 77, 77, 0.5)
}

.producto img {
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
  float: left;
}

.texto {
  top: 50px;
  right: 90px;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  padding: 15px;
  margin-left: 0px;
}

.texto h3 {
  text-align: left;
  padding-bottom: 10px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.822);
}

.precio_descuento{
  font-size: 50px;
  color: rgba(0, 0, 0, 0.822);
}

.precio{
  padding-top: 10px;
  color: #4a4a4a;
  font-size: 20px;
  font-family: sans-serif;
}

.clearfix {
  clear: both;
}

footer {
  text-align: center;
}